---
layout: default
---

{% include site-nav.html %}

{% include header.html %}

<ul class="post-list">
  {% if page.filter %}
  {% assign filtered_posts = site.posts %}
  {% for rule in page.filter %}
  {% if rule.by_tag %}
  {% assign filtered_posts = filtered_posts | where_exp: "post", "post.tags contains rule.by_tag" %}
  {% endif %}
  {% if rule.by_category %}
  {% assign filtered_posts = filtered_posts | where_exp: "post", "post.category == rule.by_category" %}
  {% endif %}
  {% if rule.by_expression %}
  {% assign filtered_posts = filtered_posts | where_exp: "post", rule.by_expression %}
  {% endif %}
  {% endfor %}
  {% assign posts = filtered_posts %}
  {% elsif paginator.posts %}
  {% assign posts = paginator.posts %}
  {% else %}
  {% assign posts = site.posts %}
  {% endif %}
  {% for post in posts %}
  <li class="post-list-item" data-tags="{{ post.tags | join: " " }}">
    <a class="post-item-link" href="{{ post.url | relative_url }}" data-date="{{ post.date | date: "%m-%d"  }}">
      {{ post.title | escape }}
    </a>
    {% if post.description %}
    <p class="post-description">{{ post.description }}</p>
    {% endif %}
    <div class="post-item-meta">
      {{ post.date | date: "%B %-d, %Y" }}
      {% assign chars = post.content | strip_html | strip_newlines | size %}
      {% assign read_time = chars | divided_by: 350 | plus: 1 %}
      &bull; {{ read_time }} min read
    </div>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<nav class="pagination" aria-label="Pagination">
  <div class="pagination-nav">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ '/' | relative_url }}" class="pagination-item prev">&laquo; Prev</a>
      {% else %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination-item prev">&laquo; Prev</a>
      {% endif %}
    {% else %}
      <span class="pagination-item prev disabled">&laquo; Prev</span>
    {% endif %}

    <div class="pagination-pages">
      {% for page_num in (1..paginator.total_pages) %}
        {% if page_num == paginator.page %}
          <span class="pagination-number current">{{ page_num }}</span>
        {% elsif page_num == 1 %}
          <a href="{{ '/' | relative_url }}" class="pagination-number">{{ page_num }}</a>
        {% else %}
          {% assign page_path = site.paginate_path | replace: ':num', page_num %}
          <a href="{{ page_path | relative_url }}" class="pagination-number">{{ page_num }}</a>
        {% endif %}
      {% endfor %}
    </div>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}" class="pagination-item next">Next &raquo;</a>
    {% else %}
      <span class="pagination-item next disabled">Next &raquo;</span>
    {% endif %}
  </div>
</nav>
{% endif %}
